AGENTLINEAGE_ENABLED=false
AGENTLINEAGE_RPC_URL=https://eth-sepolia.example/v2/replace-me
AGENTLINEAGE_ROOT_IDENTITY_KEY=0xREPLACE_WITH_SEPOLIA_GOVERNANCE_KEY
AGENTLINEAGE_ROOT_SEED=REPLACE_WITH_AT_LEAST_64_HEX_CHARACTERS
AGENTLINEAGE_RELAYER_KEY=0xREPLACE_WITH_SEPOLIA_RELAYER_KEY
AGENTLINEAGE_KEYSTORE_PASSWORD=REPLACE_WITH_A_STRONG_PASSWORD
AGENTLINEAGE_CONTROL_TOKEN=REPLACE_WITH_A_RANDOM_CONTROL_TOKEN
AGENTLINEAGE_HOST=127.0.0.1
AGENTLINEAGE_PORT=8100
